* {
    box-sizing: border-box;
    transition: all 0.3s;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
header{
    background-color: #264653
}
header .encabezado{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#title{
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 35px 30px;
    font-size: 2.1em;
    text-align: center;
}
h2{
    font-size: 2em;
    color: black;
}

.centrar{
background-image: url(../imagenes/fondo.png),linear-gradient(rgb(190, 153, 153), #E9C46A);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
height: 100vh;
color: #000000;
}
form{
    display: inline-block;
    text-align: center;
}
#jugar{
    text-decoration: none;
font-size: 1.5em;
font-weight: bold;
padding: 10px 30px;
margin: 5px 25px;
border-radius: 10px;
border: 2px solid rgba(0,0,0,0.5);
box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
color: white;
background-color: #E76F51;
}
.nombreUser{
    text-align: left;
font-size: 20px;}

@media (min-width: 700px) {
    header {
        position: fixed;
        width: 100%;
    }


}